.square-rebus {
	text-align: center;
	color: black;
	width: 30px;
	height: 30px;
	margin-top: -8px;
	display: inline-block;
}

.shiny {
	border: solid black 3px;
}

header {
	background-color: black;
	padding: 10px;
	padding-left: 30px;
	color: white;
}

footer {
	position: fixed;
	bottom: 0px;
	background-color: black;
	text-align: center;
	width: 100%;
	padding: 30px;
	color: white;
}